body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0!important;
    margin: 0;
}

footer {
    flex: 1 0 auto;
    position: relative;
}

div.nav-wrapper {
    padding: 0 15px;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	color: inherit;
	border-bottom: 1px solid #1976D2;
	box-shadow: 0 1px 0 0 #1976D2;
}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: inherit;
}

.input-field .prefix.active {
	color: inherit;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.chip.validated {
    background: #8DE08D;
}

.chip.closed {
    background: #E68D8D;
}

#main {
    padding: 2em 0;
}

.fixed-action-btn.absolute {
    position: absolute;
}

span.f_name {
    text-transform: capitalize;
}

#dashboard-fees {
    box-shadow: none;
    border: none;
}

.card .collection {
    border: none;
}

footer .container {
    margin-bottom: 70px;
}

.footer-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Modalbox - ajout de frais */
.modal { width: 30%; }

span.after-input {
    position: absolute;
    top: 20%;
    right: 35px;
    color: grey;
}

table a.delete i {
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 20px;
    float: right;
}