/* Clignotement */
@-webkit-keyframes flash {
	0% {border: 2px solid rgba(106,214,255,0.1);}
	100% {border: 2px solid rgba(106,214,255,1);}
}

/******************
 * PROPRIETES GLOBALES
 */
/* Ecran noir */
.tuto {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
}
.tuto-container {
	position: relative;
	max-width: 1200px;
	margin: auto;
	height: 100%;
}
/* Titre bloc */
.tuto-title { font-family: Roboto, Arial; color: #7ECDEC; text-shadow: 0px 1px 0px #000; }
/* Info bloc */
.tuto-info { color: #fff; font-size: 17px; text-shadow: 0px 1px 0px #000; }
/* Bouton block */
.btn-tuto {
	all: initial;
	position: absolute;
	right: 20px;
	bottom: -20px;
	font-family: Roboto;
	background: #68ADC8;
	padding: 10px 15px;
	border-radius: 2px;
	border: 1px solid #333;
	color: #fff;
	text-shadow: 0px 1px 1px #000;
	cursor: pointer;
}
.btn-tuto:hover { background: #51879D; }
/* Wrap infobulle */
.tuto-wrap-ariane, .tuto-wrap-menu, .tuto-wrap-add, .tuto-wrap-monthsummary, 
.tuto-wrap-func1, .tuto-wrap-func2, .tuto-wrap-func3, .tuto-wrap-func4, .tuto-wrap-func5, .tuto-wrap-func6, .tuto-wrap-history-search, .tuto-wrap-history-etat, .tuto-wrap-details-etat {
	position: absolute;
	height: auto;
	border: 1px solid #000;
	padding: 20px;
	background: rgba(72, 118, 136, 1);
	color: #fff;
	text-align: justify;
	font-size: 17px;
	text-shadow: 0px 1px 0px #000;
	border-radius: 3px;
}
/* Flèche vers le haut */
.arrow-right:before, .arrow-right:after {
	content: '';
	position: absolute;
	border: 12px solid transparent;
	width: 0;
	height: 0;
	bottom: 100%;
	top: -13px;
}
/* Flèche - :before */
.arrow-right:before {
	right: 20px;
	border-width: 0px 12px 12px 12px;
	border-color: transparent transparent rgba(0, 0, 0, 1) transparent;
}
/* Flèche - :after */
.arrow-right:after {
	right: 18px;
	border-width: 1px 14px 14px 14px;
	border-color: transparent transparent rgba(72, 118, 136, 1) transparent;
}
/*
 * FIN PROPRIETES GLOBALES
 ******************/

/* COOKIE BAR */
.tuto-cookiebar {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	color: #fff;
	background: rgba(0,0,0,0.7);
	text-align: center;
	line-height: 50px;
}
.btn-cookie {
	top: 10px;
	bottom: 10px;
	right: 20px;
	padding: 5px 10px;
	cursor: pointer;
}


/* MESSAGE BIENVENUE */
.firsttime {
	position: absolute;
	right: 50%;
	top: 50%;
	background: rgba(72, 118, 136, 1);
	padding: 40px 20px;
	transform: translateX(50%) translateY(-50%);
	border-radius: 5px;
	border: 1px solid #333;
}


/* FOCUS ARIANE */
.tuto-flash-ariane {
	position: absolute;
	height: 35px;
	width: 268px;
	left: 175px;
	top: 12px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-flash-ariane-com { width: 290px; }
.tuto-wrap-ariane { left: 175px; top: 62px; width: 300px; }
.tuto-wrap-ariane:before { left: 20px; }
.tuto-wrap-ariane:after { left: 18px; }


/* MENU */
.tuto-flash-menu {
	position: relative;
	width: 316px;
	height: 395px;
	left: 10px;
	top: 80px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-menu { top: 80px; left: 341px; width: 300px; }
.tuto-wrap-menu:before, .tuto-wrap-menu:after {
	content: '';
	position: absolute;
	border: 12px solid transparent;
	width: 0;
	height: 0;
	left: 100%;
	transform: rotate(-90deg);
}
.tuto-wrap-menu:before {
	top: 14px;
	left: -24px;
	border-color: transparent transparent rgba(0, 0, 0, 1) transparent;
}
.tuto-wrap-menu:after {
	top: 18px;
	left: -18px;
	border-width: 1px 14px 15px 14px;
	border-color: transparent transparent rgba(72, 118, 136, 1) transparent;
}


/* BOUTON AJOUTER FRAIS */
.tuto-flash-add {
	position: absolute;
	width: 104px;
	height: 42px;
	right: 35px;
	top: 99px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-add { top: 156px; right: 35px; width: 200px; }


/* FOCUS RESUMÉ FRAIS */
.tuto-flash-monthsummary {
	position: absolute;
	width: 663px;
	height: 268px;
	top: 88px;
	right: 13px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-monthsummary { top: 372px; right: 13px; width: 495px; }


/* FOCUS SUR LES FONCTIONNALITES POUR AJOUTER UN FRAIS */
	/*Catégorie*/
.tuto-flash-func1 {
	position: absolute;
	width: 663px;
	height: 85px;
	top: 162px;
	right: 13px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-func1 { top: 263px; right: 13px; width: 626px; }

	/*Type de frais*/
.tuto-flash-func2 {
	position: absolute;
	width: 663px;
	height: 97px;
	top: 100px;
	right: 13px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-func2 { top: 213px; right: 13px; width: 626px; }

	/*Quantité*/
.tuto-flash-func3 {
	position: absolute;
	width: 663px;
	height: 108px;
	top: 210px;
	right: 13px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-func3 { top: 334px; right: 13px; width: 626px; }

	/*Libellé*/
.tuto-flash-func4 {
	position: absolute;
	width: 663px;
	height: 108px;
	top: 102px;
	right: 13px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-func4 { top: 227px; right: 13px; width: 626px; }

	/*Date valeur*/
.tuto-flash-func5 {
	position: absolute;
	width: 663px;
	height: 108px;
	top: 220px;
	right: 13px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-func5 { top: 344px; right: 13px; width: 626px; }

	/*Montant*/
.tuto-flash-func6 {
	position: absolute;
	width: 663px;
	height: 108px;
	top: 339px;
	right: 13px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-func6 { top: 465px; right: 13px; width: 626px; }

/* TUTO COMPTA SUITE */
/* fiches.php - historique search */
.tuto-flash-history-search {
	position: absolute;
	width: 246px;
	height: 41px;
	top: 100px;
	right: 35px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-history-search { top: 158px; right: 34px; width: 500px; }

/* fiches.php - historique etat */
.tuto-flash-history-etat {
	position: absolute;
	width: 257px;
	height: 41px;
	top: 166px;
	right: 387px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-history-etat { top: 224px; right: 107px; width: 500px; }
.tuto-wrap-history-etat:before { left: 20px; }
.tuto-wrap-history-etat:after { left: 18px; }

/* details.php - details etat */
.tuto-flash-details-etat {
	position: absolute;
	width: 300px;
	height: 44px;
	top: 99px;
	right: 35px;
	border: 2px solid #6ad6ff;
	border-radius: 2px;
	-webkit-animation: flash 2s linear infinite alternate;
}
.tuto-wrap-details-etat { top: 159px; right: 34px; width: 500px; }